mng:
  image: koduki/jst-mng
  ports:
    - "8000:8000"
    - "8686:8686"
  links:
    - glassfish
glassfish:
  image: koduki/jst-app-glassfish
  ports:
    - "8080:8080"
    - "8181:8181"
    - "4848:4848"
  links:
    - db
db:
  image: mysql
  environment:
    MYSQL_USER: docker
    MYSQL_PASSWORD: password
    MYSQL_ROOT_PASSWORD: password
    MYSQL_DATABASE: testdb
